/* Task 1: Style the body */
body {
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* Task 2: Create a pseudo-element for the background and blur */
body::before {
    /* insert code here */
    content: '';
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/background-colors.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px); 
    z-index: -1; 
}

/* Task 3: Style the content area */
.content {
    /* insert code here */
    position: relative;
    font-weight: 600;
    z-index: 5;
    text-align: center;
    color: #0f0f0f;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(240,240,240, 0.7);
    border-radius: 10px;
}
/* Task 4: Add styles for headings, paragraphs, and buttons */
 h1, h2 {
        font-size: 4rem; 
        color: #222; 
        margin-bottom: 0.5em;
        font-weight: 700;
}
.lead {
    font-size: 1.75rem; 
    color: #222; 
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.btn-primary {
    background-color: #389bff; 
    color: #FFFFFF; 
    border: none;
    padding: 1rem 2.5rem; 
    border-radius: 30px; 
    font-size: 1.25rem; 
    font-weight: 700; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.1s;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #fd0a5f;
    transform: scale(1.05);
}
@media (max-width: 768px) {
    h1 {
        font-size: 3rem; 
    }
    h2 {
        font-size: 2.5rem; 
    }
    .lead {
        font-size: 1.25rem; 
    }
}